################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gameboy9.github.io/FileContentIndex/7a7c8e11-6641-4883-abb4-d77c97407f66.vsidx
/.vs
